<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <meta charset="UTF-8" />
    <title>giflib | home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cupiditate doloribus dolorum eos fuga iusto praesentium, quis quisquam repellat suscipit temporibus, vel velit voluptas? Possimus quia ratione sint velit vero.</p>
    <img th:src="@{/gifs/compiler-bot.gif}" alt="bot gif"/>
</body>
</html>